*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
 }

 .celeste {
   color: $celeste;
}
span {
   color: $blanco;
}

body    {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
     }

.encontranos {
    flex: 1;
}

section {text-align: center;    
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
    }



body.inicio {
min-height: 100vh;
background-image: url(/images/guantes.webp);
background-size: 210%;
background-position: center; 
background-repeat: no-repeat; 
height: 500px;
}

body.inicio main {
    flex: 1;
}

#somos {
    margin: 100px auto;
    font-size: larger;
}

body.pages {
    min-height: 100vh;
    background-image: url(/images/guantesblancos.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    }

.contacto {
    text-align: center;
    margin: 100px auto;
}

.galery{
    box-sizing: border-box;
    margin: 50px;
    padding: 0;
}

img:hover{
    animation-name: flash;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

.expo {
    width: 100%;  
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 5px;
}

.column img {
    margin-top: 5px;
}

.mapa {
    display: flex;
    justify-content: center;
    
}


.conteiner-inicio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.aprende {
    grid-column: 1/1;
    font-size: medium;
    
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.picobox {
    grid-row: 1/2;
    grid-column: 2/3;
}

.clasesde {
    grid-column: 2/3;
    grid-row: 2/4;
}

@keyframes flash{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    70%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}


