
@media screen and (max-width: 500px) {

    .header {
        padding:0.4rem;
    }
   
    .navbar {
        display: flex;
        align-items: center;
        max-width: 250px;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}
